* {
    border: 1px solid rgba(255, 20, 145, 0.166); */
}

html, body {
    margin: 0;
    padding: 0;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 80% 1fr;
    gap: 1rem;
    height: 100vh;
}

.grid-header {
    grid-row: 1 / 2;
}

.grid-center {
    grid-row: 2 / 3;
    background-image: url("/img/1207913.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid-footer {
    grid-row: 3 / 4;
}

/* main {
    background-image: url("/img/1207901.jpg");
    background-size: cover;
} */