* {
    /* border: 1px solid rgba(255, 20, 145, 0.166); */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    background-image: linear-gradient(pink, orange);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}

img {
    width: 3em;
    height: 3em;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}

main {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin-left: 1em;
    margin-right: 1em;
}

footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em;
}

h1 {
    text-shadow: 1px 1px 10px white;
    text-align: center;
}

h1, h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2, p {
    text-align: center;
}

a {
    font-size: 1.1em;
}

a:hover {
    color: black;
}

ul > li {
    color: red;
    padding: 10px;
}

ol > li {
    color: blue;
    padding: 1.2em;
}

.grid {
    display: grid;
    gap: 0.5em;
    grid-template-areas:
        'h h h h h h'
        'l m m m m r'
        'l m m m m r'
        'l m m m m r'
        'l m m m m r'
        'f f f f f f';
    border: 1px solid white;
    height: 100vh;
}

.grid > div {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.grid-h {
    grid-area: h;
}

.grid-l {
    grid-area: l;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.grid-m {
    grid-area: m;
    border-radius: 1em;
}

.grid-r {
    grid-area: r;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
}

.grid-f {
    grid-area: f;
}

@media only screen and (min-width: 1000px) {
    ul, ol {
        margin-left: 19em;
        margin-right: 19em;
    }
}

.grid-m:hover {
    background-image: url("https://images.unsplash.com/photo-1628260412297-a3377e45006f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8c3VycHJpc2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60");
    background-size: cover;
}